@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F6F7F9;
}

.pattern {
  background-image: url('../public/pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #3563E9;
  border-radius: 8px;
  box-sizing: border-box;
}

.toast-progress-bar {
  background-color: #3563E9 !important;
}